{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Ninja Tech Forum</h1>
        <p>Welcome to Ninja Tech Forum - the best forum for tech fans. Coming soon!</p>
    </div>

    {% if user %}
    <div>
        <form method="post" action="/forum-subscribe">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <label>Subscribe to our forum to receive news on the latest topics every day:</label>
            <button type="submit" class="btn btn-default">Subscribe</button>
        </form>
    </div>
    {% endif %}

    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-6">Topic</th>
                <!-- <th class="col-md-2"></th> -->
                <th class="col-md-2">Posted by</th>
                <th class="col-md-2">Posted on</th>
            </tr>
        </thead>
        <tbody class="table-align">

            {% for topic in topics %}

                <tr class="topic-row" data-href="/topic/{{ topic.key.id() }}">
                    <td class="topicTitle"><strong>{{ topic.title }}</strong></td>
                    <td>{{ topic.user_email }}</td>
                    <td>{{ topic.created_at.strftime('%d. %m. %Y, %H:%M') }}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>



{% endblock content %}

{% block script %}
  <script>
    $(document).ready(function() {

      $(".topic-row").click(function() {
        window.location = $(this).data("href");
      });

      $(".topic-row").hover(function() {
        let currentTopicRow = $(this);
        $(this).css('cursor', 'pointer');

        let topicUrl = $(this).data("href")+"/comments-count";

        $.get(topicUrl, function (data) {
          $(currentTopicRow).find(".topicTitle").append( "<span> Comments: " + data + "</span>");
          });
        }, function () {
          $(this).find("span:last").remove();
        });
    });
  </script>
{% endblock %}
