{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Ninja Tech Forum</h1>
        <p>Welcome to Ninja Tech Forum - the best forum for tech fans. Coming soon!</p>
    </div>


    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-6">Topic</th>
                <th class="col-md-3">Posted by</th>
                <th class="col-md-3">Posted on</th>
            </tr>
        </thead>
        <tbody class="table-align">

            {% for topic in topics %}

                <tr>
                    <td><a href="/topic/{{ topic.key.id() }}"><strong>{{ topic.title }}</strong></a></td>
                    <td>{{ topic.user_email }}</td>
                    <td>{{ topic.created_at.strftime('%d. %m. %Y, %H:%M') }}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>



{% endblock content %}