{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{%block content %}

{% if user %}
    <div class="row">
        <div class="col-md-6">
            <h3>Add new topic</h3>
            <hr>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                <div class="form-group">
                    <label>Title</label>
                    <input name="title" type="text" class="form-control" rows="6" required>
                </div>

                <div class="form-group">
                    <label>Text</label>
                    <textarea name="text" class="form-control" rows="6" required></textarea>
                </div>

                <div class="form-group">
                    <label>What is the sum of numbers <span id="firstNum"></span> and <span id="secondNum"></span>?</label>
                    <input id="sum" type="text" class="form-control" rows="6" required>
                </div>

                <button id="submit-button" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{% else %}
    <p>Please <a href="{{ login_url}}">login</a> to add a new topic.</p>
{% endif %}

{%endblock content %}

{% block script %}
    <script>
        $(document).ready(function () {
            let num1 = 1 + Math.floor(Math.random() * 10);
            $("#firstNum").text(num1);

            let num2 = 1 + Math.floor(Math.random() * 10);
            $("#secondNum").text(num2);

            let sum = $("#sum").val();
            let realSum = num1 + num2;
            console.log(realSum);

            $("#submit-button").click(function (event) {
                if (sum === realSum.toString()) {
                    $(this).prop("disabled", true);
                } else {
                    alert("You've entered the wrong sum.");
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}